/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
body {
  font-family: sans-serif;
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
}

.content {
  text-align: center;
}
.gameboard {
  background-image: url('http://www.mediaversal.com/wesley/images/space-background.jpg');
  border: 5px solid darkgrey;
  display: inline-block;
}